html { font-family: "helvetica", Helvetica, Arial }

body
{
	padding:0;
}

header
{
	
    display:block;
    margin-top : 20px;
}


header > h1
{
	font-size : 40px;
	display:inline;
}


header > img
{
	border : 0px;
	margin-left:1px;
}

.headerText
{
    margin-left:5px;
    float:left;
    margin-bottom:20px;
}

.links {
    padding-top : 40px;

    float: right;
    position: relative;
    width:25%;
    padding: 2em;
    padding-right: 1em;

    background-color: #ECF0F5;
    -webkit-border-top-left-radius: 20px;
    -webkit-border-bottom-left-radius: 20px;
    -moz-border-radius-topleft: 20px;
    -moz-border-radius-bottomleft: 20px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.content
{
	float:left;
    margin-left:2px;
    margin-top:10px;
    width:70%;
}

footer, em
{
  display:block;
}
