header
{
	
    display:block;
    margin-top : 20px;
}


header > h1
{
	font-size : 40px;
	display:inline;
}

header > img
{
	border : 0px;
	margin-left:1px;
}

.headerText
{
    margin-left:5px;
    float:left;
    margin-bottom:20px;
}

footer, em
{
  display:block;
}

.content
{
    padding-top : 40px;
    margin-left:2px;
    margin-top:10px;
    display:block;
}
