header > h1
{
	font-size : 40px;
	display:inline;
}

header > img
{
	float:left;
	border : 0px;
	margin-left:2px;
	margin-right : 20px;
	height : 50px;
}


header
{
	display:block;
	margin-top : 20px;
}

footer, em
{
  display:block;
}

section
{
	padding-top : 40px;
	margin-left:5px;
	display:block;
}
