<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  	<title>LinqExtender- A toolkit for building custom providers</title>
  	<link rel="stylesheet" href="style.css" type="text/css" />
	<link rel="stylesheet" title="Idea" href="highlight/styles/idea.css">
</head>
 
<script src="highlight/highlight.pack.js"></script>
 
<body>
   
	<header> 
		<img src="images/linqExtender.jpg" alt="LinqExtender">
		<br/>
	</header>
	
	<section class="headerText">
		{{content}}
	</section>

	
	<section class="links">
		{{ site.posts[1].content }}
	</section>


	<section class="content">

	{% for post in site.posts limit:1 %}

		<h3>{{ post.title }}</h3>

	{{ post.content }}

	<p class="smallText">Last updated on {{ post.date | date_to_long_string }} by Mehfuz Hossain</p>

	{% endfor %}

	</section>

</body>

<script type="text/javascript">
hljs.tabReplace = '    '; // 4 spaces
hljs.initHighlightingOnLoad();
</script>

</html>
